.right-main-container {
    background: #fff;
    padding: 0 15px;
    
}
h5 {
    padding: 36px 0;
    border-bottom: 1px solid #e6eaee;
    margin-bottom: 25px;
}
th {
    background: #f5f8fb;
    border: solid 1px #e6eaee;
    vertical-align: middle;
}
.border-btn {
    background-color: #f8fafc;
    border: solid 1px #ced0da;
    font-size: 13px;
    color: #3e3e3f;
    padding: 7px 15px;
} 
.border-btn:hover {
    outline: none;
    box-shadow: none;
}