<div class="form-group right-main-container">
        <h5>Users List</h5>
        <div class="search-filter">
          
            <div class="filter-wrapper" >
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="filter-btn dropdown-toggle"
                            aria-controls="dropdown-basic">
                      Filter <i class="icon icon-filter"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem" *ngFor="let filter of filterList" (click)="getUsersList(filter.id,'filter')"><a class="dropdown-item" [class.selected]="filter.id == selectedFilter">{{filter.value}}</a></li>
                    </ul>
                  </div>
            </div>
            <div class="search-wrapper">
                <input type="text" placeholder="Search" [(ngModel)]="searchInput" (keyup)="getUsersList(searchInput,'search')">
              </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-wrapper">
            <div class="table-inner-wrapper">
            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped dataTable no-footer" role="grid" aria-describedby="dataTable_info" *ngIf="isUserDataAvailable">
            <thead>
              <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 153px;">Name</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 192px;">Email</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 178px;">Mobile Number</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 130px;">Account Created</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 97px;">Status</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 150px;">Role(s)</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 150px;">Operations</th>
                </tr>
                  
            </thead>
            <tbody>
            <tr role="row" [ngClass]="{'even': i%2==0,'odd': i%2!=0}" *ngFor="let user of usersList | paginate: { id: 'usersList', itemsPerPage: 10, currentPage: userPage, totalItems: totalItems };let i=index">
                <td class="sorting_1">{{user?.nationalIdInfo.name}}</td>
                <td>{{user?.email}}</td>
                <td>{{user.mobileNum}}</td>
                <td>{{user?.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td >{{user.activated?'Activated':'Deactivated'}}</td>
                <td>
                    <span *ngFor="let role of user.userRoles">
                      <img class="role-image" *ngIf="role?.name=='CUSTOMER' && role?.applicationStatus=='APPROVED'" title="Customer" src="assets/images/customer.png" alt="Customer">
                      <img class="role-image" *ngIf="role?.name=='FLEETOWNER' && role?.applicationStatus=='APPROVED'" title="Fleet Owner" src="assets/images/fleet-owner.png" alt="Fleet Owner">
                      <img class="role-image" *ngIf="role?.name=='DRIVER' && role?.applicationStatus=='APPROVED'" title="Driver" src="assets/images/driver.png" alt="Driver">
                      <img class="role-image" *ngIf="role?.name=='AGENT' && role?.applicationStatus=='APPROVED'" title="Agent" src="assets/images/agent.png" alt="Agent">
                    </span>
                  </td>
                <td><button class="border-btn" (click)="openModal(template,user.nationalIdInfo)" title="View Details"><i class="fa fa-eye"></i></button>
               <span *ngFor="let role of user.userRoles">
                <button *ngIf="role?.name=='FLEETOWNER' && role?.applicationStatus=='APPROVED'" type="button" title="View Truck Details" class="border-btn" (click)="redirectToTruckList(user.id)">
                  <i class="fa fa-truck" aria-hidden="true"></i>
               </button>
               <button *ngIf="role?.name=='AGENT' && role?.applicationStatus=='APPROVED'" type="button" title="View Agent Referral Code" class="border-btn" (click)="redirectToAgentPerformance(user.id)">
                <i class="fa fa-star-o" aria-hidden="true"></i>
             </button>
               </span>
                <span *ngIf="!user.activated; else inactive_view">
                  <button type="button" title="Active" class="btn-approve" (click)="activeDeactiveUsers(user.id,false)">
                          <i class="fa fa-check" aria-hidden="true"></i>
                       </button>
        </span>
      <ng-template #inactive_view>
          <button type="button" title="Deactive" class="btn-reject" (click)="activeDeactiveUsers(user.id,true)">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                                   </button>
      </ng-template>
    </td>
              </tr></tbody>
          </table>
          <h4 align="center" *ngIf="!isUserDataAvailable">No Records Found</h4>
        </div>
      </div>
        <pagination-controls id="usersList" *ngIf="totalItems>10" class="pagination-ctn" (pageChange)="getUsersList($event)"></pagination-controls>   
    </div>

    <!-- Details Modal -->
    <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">User Detail</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <div class="col-sm-12">
                            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped dataTable no-footer" role="grid" aria-describedby="dataTable_info">
                            <thead>
                              <tr role="row">
                                  <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 153px;">Name</th>
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 192px;">Date of Birth</th>
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 178px;">National ID</th>
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 130px;">District</th>
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 97px;">National ID Front Image</th>
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 97px;">National ID Back Image</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr role="row">
                                <td>{{userDetail.name}}</td>
                                <td>{{userDetail.dob | date: 'dd/MM/yyyy'}}</td>
                                <td>{{userDetail.nationalId}}</td>
                                <td>{{userDetail.district}}</td>
                                <td><img [src]="userDetail.natFrontPic" alt="Image" (click)="openImageModal(imagetemplate,userDetail.natFrontPic)"></td>
                                <td><img [src]="userDetail.natBackPic" alt="image" (click)="openImageModal(imagetemplate,userDetail.natBackPic)"></td>
                              </tr></tbody>
                          </table>
                        </div>
            </div>
          </ng-template>
      
<!--Image Modal -->
<ng-template #imagetemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">National ID Image</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="imagemodalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body image-popup">
              <div class="col-sm-12">
                      <img [src]="modalImage">
                  </div>
      </div>
    </ng-template>